---
import Header from "../components/Header.astro";
import Main from '../layouts/Home.astro';
import Footer from '../components/Footer.astro';
---
<Main>
    <Header slot="header"></Header>
</Main>
<Footer></Footer>