---
import Gallery from "../components/Gallery.astro";
---

<!doctype html>
<html>
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/yakuhanjp@4.0.1/dist/css/yakuhanjp.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />
  </head>

  <div id="wrapper">
    <div class="p-4 p-header sticky w-full top-0 z-40 bg-white">
      <nav class="p-1">
        <div
          class="max-w-screen-xl flex flex-wrap xs:items-center md:items-end justify-between mx-auto sm:flex-row md:flex-col"
        >
          <div class="information-bar">
            <div
              class="m-2 flex flex-wrap place-items-start mx-auto xs:gap-1 xs:flex-col md:flex-row md:gap-4"
            >
              <a href="tel:+6282260365638" class="text-2xs font-light"
                >Phone: (+62) 822-6036-5638</a
              >
              <a href="mailto:work@adefirmanf.dev" class="text-2xs font-light"
                >Email: work@adefirmanf.dev</a
              >
            </div>
          </div>
          <div class="brand xs:block md:hidden mr-20">
            <h1 class="text-2xl" style="font-family:'Musashi'; font-size: 70px">
              AF
            </h1>
          </div>
          <div class="navigation-bar">
            <button
              data-collapse-toggle="navbar-default"
              type="button"
              class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="navbar-default"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="w-5 h-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 17 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 1h15M1 7h15M1 13h15"></path>
              </svg>
            </button>
            <div
              class="text-sm hidden w-full md:block md:w-auto"
              id="navbar-default"
            >
              <ul
                class="items-center font-small flex flex-col p-4 md:p-0 mt-4 border border-gray-100 bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
              >
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 text-gray-900 rounded md:bg-transparent md:p-0 dark:text-white md:dark:text-primary-500"
                    aria-current="page"
                    >Home<br /><span class="text-xs font-semibold">ホーム</span
                    ></a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                    >Works!<br /><span class="text-xs font-semibold"
                      >作品情報</span
                    ></a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                    >About<br /><span class="text-xs font-semibold"
                      >自己紹介</span
                    ></a
                  >
                </li>
                <li>
                  <button
                    type="button"
                    class="inline-flex items-center text-white bg-primary hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 rounded-sm text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                  >
                    <svg
                      class="w-4 h-4 text-white dark:text-white mr-1"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m18.4 14.8-1.2-1.3a1.7 1.7 0 0 0-2.4 0l-.7.7a1.7 1.7 0 0 1-2.4 0l-1.9-1.9a1.7 1.7 0 0 1 0-2.4l.7-.6a1.7 1.7 0 0 0 0-2.5L9.2 5.6a1.6 1.6 0 0 0-2.4 0c-3.2 3.2-1.7 6.9 1.5 10 3.2 3.3 7 4.8 10.1 1.6a1.6 1.6 0 0 0 0-2.4Z"
                      ></path>
                    </svg>
                    Contact me</button
                  >
                  <button
                    type="button"
                    class="inline-flex items-center text-white bg-primary hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 rounded-sm text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                  >
                    <svg
                      class="w-4 h-4 text-white dark:text-white mr-1"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10 3v4c0 .6-.4 1-1 1H5m14-4v16c0 .6-.4 1-1 1H6a1 1 0 0 1-1-1V8c0-.4.1-.6.3-.8l4-4 .6-.2H18c.6 0 1 .4 1 1Z"
                      ></path>
                    </svg>
                    Download Portofolio</button
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <section class="wrapper">
      <div class="flex">
        <div
          class="flex-none w-[500px] hidden md:flex text-center place-content-center self-center"
        >
          <div class="max-h-screen">
            <div class="container">
              <div class="flex flex-row gap-6">
                <h1
                  class="text-2xl self-center"
                  style="font-family:'Musashi'; font-size: 90px"
                >
                  AF
                </h1>
                <div class="flex flex-col text-left gap-4">
                  <div>
                    <h1 class="bg-blue text-xl letter-spacing-4 font-medium">
                      コードを再び素晴らしくする！
                    </h1>
                    <p class="letter-spacing-0 font-light text-xs">
                      Make code great again!
                    </p>
                  </div>
                  <div class="text-left">
                    <ul
                      class="text-sm font-light letter-spacing-2 flex flex-col gap-1"
                    >
                      <li>
                        <a href="">
                          <span
                            class="inline-flex items-center justify-center w-3 h-3 text-sm font-semibold text-gray-800 bg-purple-400 rounded-full dark:bg-gray-700 dark:text-gray-300"
                          >
                            <svg
                              class="p-0.5 text-white font-bold"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                            >
                              <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m9 5 7 7-7 7"></path>
                            </svg>
                          </span>
                          Tutorial - <span class="font-medium"
                            >チュートリアル</span
                          ></a
                        >
                      </li>
                      <li>
                        <a href="">
                          <span
                            class="inline-flex items-center justify-center w-3 h-3 text-sm font-semibold text-gray-800 bg-yellow-400 rounded-full dark:bg-gray-700 dark:text-gray-300"
                          >
                            <svg
                              class="p-0.5 text-white font-bold"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                            >
                              <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m9 5 7 7-7 7"></path>
                            </svg>
                          </span>
                          Blog - <span class="font-medium">ブログ</span></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sm:flex md:hidden">
          <div
            class="p-5 mt-[60vh] title-wrapper absolute z-10 block bg-white flex flex-col gap-4"
            style="background-color:whiite;"
          >
            <div>
              <h2 class="text-xl letter-spacing-4 font-medium">
                コードを再び素晴らしくする！
              </h2>
              <div class="letter-spacing-1 font-light text-xs">
                Make code great again!
              </div>
            </div>
            <div>
              <ul
                class="text-sm font-light letter-spacing-2 flex flex-col gap-1"
              >
                <li>
                  <a href="">
                    <span
                      class="inline-flex items-center justify-center w-3 h-3 text-sm font-semibold text-gray-800 bg-purple-400 rounded-full dark:bg-gray-700 dark:text-gray-300"
                    >
                      <svg
                        class="p-0.5 text-white font-bold"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m9 5 7 7-7 7"></path>
                      </svg>
                    </span>
                    Tutorial - <span class="font-medium">チュートリアル</span
                    ></a
                  >
                </li>
                <li>
                  <a href="">
                    <span
                      class="inline-flex items-center justify-center w-3 h-3 text-sm font-semibold text-gray-800 bg-yellow-400 rounded-full dark:bg-gray-700 dark:text-gray-300"
                    >
                      <svg
                        class="p-0.5 text-white font-bold"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m9 5 7 7-7 7"></path>
                      </svg>
                    </span>
                    Blog - <span class="font-medium">ブログ</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="shrink flex">
          <div class="flex flex-row h-[90vh]">
            <section
              id="image-carousel-1"
              class="splide"
              aria-label="Beautiful Images"
            >
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <img
                      class="h-auto"
                      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
                      alt=""
                    />
                  </li>
                  <li class="splide__slide">
                    <img
                      class="h-auto"
                      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg"
                      alt=""
                    />
                  </li>
                  <li class="splide__slide">
                    <img
                      class="h-auto"
                      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg"
                      alt=""
                    />
                  </li>
                  <li class="splide__slide">
                    <img
                      class="h-auto"
                      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg"
                      alt=""
                    />
                  </li>
                </ul>
              </div>
            </section>
            <section
              id="image-carousel-2"
              class="splide"
              aria-label="Beautiful Images1"
            >
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <img
                      class="h-auto"
                      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
                      alt=""
                    />
                  </li>
                  <li class="splide__slide">
                    <img
                      class="h-auto"
                      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg"
                      alt=""
                    />
                  </li>
                  <li class="splide__slide">
                    <img
                      class="h-auto"
                      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg"
                      alt=""
                    />
                  </li>
                  <li class="splide__slide">
                    <img
                      class="h-auto"
                      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg"
                      alt=""
                    />
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <section class="mr-5 main-wrapper mt-5 mb-10 xs:ml-[3vh] md:ml-[6vh]">
      <div class="w-full flex xs:flex-row md:flex-col gap-4 place-content-center self-center">
        <div>
          <h2 class="text-2xl">
            最新のブログ <p class="text-sm">Latest Blog</p>
          </h2>
          <hr class="mt-1">
        </div>
        <div class="blog-wrapper xs:flex xs:flex-wrap xs:gap-6 xs:justify-between xs:mt-1 md:grid md:grid-cols-2 md:gap-6">
          <div class="blog-list block border border-gray-200 rounded p-10 hover:border-gray-500 hover:cursor-pointer">
            <div class="date">
              <p class="text-2xs text-muted text-gray-400">2024年 1月10日</p>
            </div>
            <div class="blog-title">
              <p>Why I rejected from interview?</p>
            </div>
            <div class="blog-short-desc">
              <p class="text-sm text-gray-600">
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                <span
                class="inline-flex items-center justify-center w-3 h-3 text-sm font-semibold text-gray-800 bg-primary rounded-full dark:bg-gray-700 dark:text-gray-300"
              >
                <svg
                  class="p-0.5 text-white font-bold"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m9 5 7 7-7 7"></path>
                </svg>
              </span>
              </p>
            </div>
          </div>
          <div class="blog-list block border border-gray-200 rounded p-10 hover:border-gray-500 hover:cursor-pointer">
            <div class="date">
              <p class="text-2xs text-muted text-gray-400">2024年 1月10日</p>
            </div>
            <div class="blog-title">
              <p>No great man standing</p>
            </div>
            <div class="blog-short-desc">
              <p class="text-sm text-gray-600">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                <span
                class="inline-flex items-center justify-center w-3 h-3 text-sm font-semibold text-gray-800 bg-primary rounded-full dark:bg-gray-700 dark:text-gray-300"
              >
                <svg
                  class="p-0.5 text-white font-bold"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m9 5 7 7-7 7"></path>
                </svg>
              </span>
              </p>
            </div>
          </div>
          <div class="blog-list block border border-gray-200 rounded p-10 hover:border-gray-500 hover:cursor-pointer">
            <div class="date">
              <p class="text-2xs text-muted text-gray-400">2024年 1月10日</p>
            </div>
            <div class="blog-title">
              <p>Broken code from 2022</p>
            </div>
            <div class="blog-short-desc">
              <p class="text-sm text-gray-600 text-clip">
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                <span
                class="inline-flex items-center justify-center w-3 h-3 text-sm font-semibold text-gray-800 bg-primary rounded-full dark:bg-gray-700 dark:text-gray-300"
              >
                <svg
                  class="p-0.5 text-white font-bold"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m9 5 7 7-7 7"></path>
                </svg>
              </span>
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="main-wrapper mt-5 mb-10">
      <div class="w-full flex flex-col gap-2 place-items-center self-center justify-center text-center">
        <div>
          <h2 class="text-xl">
            作品情報 <p class="text-sm">Works!</p>
          </h2>
          <hr class="mt-1">
          </div>
          <div class="works-wrapper">
            <p class="text-lg text-muted text-gray-400">Coming soon!</p>
          </div>
        </div>

      </div>
    </section>
    <section class="main-wrapper mt-5 mb-10 6vh md:mr-10 md:ml-[6vh] mr-3">
      <div class="w-full flex xs:flex-row md:flex-col gap-4 place-content-center self-center">
        <div>
          <h2 class="text-2xl">
             <p class="text-sm"></p>
          </h2>
          <hr class="mt-1">
        </div>
        <div class="image-wrapper">
          <div class="image-profile">
            <img class="xs:object-cover md:object-cover md:h-96 w-full" style="object-position: 50% 75%;" src="me.jpg" alt="image description"/>
          </div>
          <div
          class="p-5 xs:mt-[-50vh] md:mt-[-20vh] title-wrapper absolute z-10 block bg-white flex flex-col gap-2"
          style="background-color:whiite;"
        >
          <div>
            <h2 class="text-xl letter-spacing-2 font-medium">
              Ade Firman F
            </h2>
            <div class="letter-spacing-1 font-light text-xs">
              Software Engineer - 7 Years Experience
            </div>
          </div>
          <div>
            <ul
              class="text-sm font-light letter-spacing-2 flex flex-col"
            >
              <li>
                <a href="">
                  <span
                    class="inline-flex items-center justify-center w-3 h-3 text-sm font-semibold text-gray-800 bg-purple-400 rounded-full dark:bg-gray-700 dark:text-gray-300"
                  >
                    <svg
                      class="p-0.5 text-white font-bold"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m9 5 7 7-7 7"></path>
                    </svg>
                  </span>
                  Jakarta, <span class="font-medium">Indonesia</span></a>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </section>
    <section class="main-wrapper mt-5 mb-10 xs:mr-10 xs:ml-[3vh] md:mr-10 md:ml-[6vh] mr-3">
      <div class="flex flex-row gap-4 about-desc">
        <h2 class="text-xl w-[1vh]">自己紹介
          <p class="text-sm"></p>
        </h2>
        <h2 class="text-xl w-[0.5vh]">
          About
        </h2>
        <hr>
        <p class="mt-10 text-sm text-gray-700">
          7 years of experience in software development, 
            with expertise in various areas such as API integration, automation, release management, and system architecture. 
            I have worked with different programming languages, such as Node.JS, Golang, and Python, 
            and I can quickly learn and apply new technologies to achieve project goals.
            <span
            class="inline-flex items-center justify-center w-3 h-3 text-sm font-semibold text-gray-800 bg-yellow-400 rounded-full dark:bg-gray-700 dark:text-gray-300"
          >
            <svg
              class="p-0.5 text-white font-bold"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m9 5 7 7-7 7"></path>
            </svg>
          </span>
        </p>
        
      </div>
    </section>
    
    <style>
      .no-flex {
        display: contents;
      }
      .z-index-100 {
        z-index: 100;
      }
      .letter-spacing-4 {
        letter-spacing: 4px;
      }
      .marquee:nth-child(odd) {
        animation: marquee 10s linear infinite;
      }
      .marquee:nth-child(even) {
        animation: marquee 10s linear infinite reverse;
      }
      @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      @font-face {
        font-family: "Musashi";
        src: url("/Musashi.ttf") format("truetype");
      }
    </style>
    <script>
      import Splide from "@splidejs/splide";
      import { AutoScroll } from "@splidejs/splide-extension-auto-scroll";

      const breakpoints = {
        640: {
          perPage: 1,
          height: "90vh",
        },
        768: {
          perPage: 4,
          height: "90vh",
        },
        1024: {
          perPage: 2,
          height: "90vh",
        },
        1280: {
          perPage: 2,
          height: "90vh",
        },
        1536: {
          perPage: 2,
          height: "90vh",
        },
        1920: {
          perPage: 1,
          height: "90vh",
        },
      };

      let splide1 = new Splide("#image-carousel-1", {
        direction: "ttb",
        autoScroll: {
          pauseOnHover: false,
          speed: 0.2,
        },
        paginationDirection: "ltr",
        heightRatio: 1.4,
        autoHeight: false,
        autoWidth: true,
        perPage: 4,
        gap: "-1",
        breakpoints: {
          ...breakpoints,
        },
        arrows: false,
        type: "loop",
        speed: 0.1,
        pauseOnHover: true,
        pauseOnFocus: false,
      });

      let splide2 = new Splide("#image-carousel-2", {
        direction: "ttb",
        y: 200,
        autoScroll: {
          pauseOnHover: false,
          speed: 0.4,
        },
        paginationDirection: "ltr",
        heightRatio: 1.4,
        autoHeight: false,
        autoWidth: true,
        perPage: 4,
        gap: "-1",
        breakpoints: {
          ...breakpoints,
        },
        arrows: false,
        type: "loop",
        speed: 0.1,
        pauseOnHover: true,
        pauseOnFocus: false,
      });

      splide1.mount({ AutoScroll });
      splide2.mount({ AutoScroll });
    </script>
  </div>
</html>
