---
type Props = {
 title: string;
 description?: string;
};
const { title, description } = Astro.props;
---
<div class="rbt-page-banner-wrapper">
    <!-- End Banner BG Image  -->
    <div class="rbt-banner-content">
        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class=" title-wrapper">
                            <h1 class="title mb--0">{title}</h1>
                        </div>

                        <p class="description">{description}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
    </div>
</div>