---
type Props = {
    title?: string;
    href?: string;
}
const {title, href} = Astro.props
---
<div class="sction-title">
    <h2 class="rbt-title-style-3">Headline: <a href={href}>{title}</a></h2>
</div>