<div class="accordion-item card">
    <h2 class="accordion-header card-header" id="headingThree1">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="true" aria-controls="collapseThree1">
            What is Histudy ? How does it work?
        </button>
    </h2>
    <div id="collapseThree1" class="accordion-collapse collapse show" aria-labelledby="headingThree1" data-bs-parent="#accordionExamplec3" style="">
        <div class="accordion-body card-body">
            You can run Histudy easily. Any School, University, College can be use this histudy education template for their educational purpose. A university can be run their online leaning management system by histudy education template.
        </div>
    </div>
</div>