<table class="rbt-table table table-borderless">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <span class="h6 mb--5">Canon EOS R7</span>
                <span><br>#1</span>
            </td>
            <td>
                <span class="h5 mb--5">$129,02</span>
                <span><br>See details</span>
            </td>
            <td class="align-middle">
                <div class="rbt-button-group">
                    <ul class="brand-list brand-style-2">
                        <li>
                            <a href="#">
                                <img src="https://m.media-amazon.com/images/G/01/AdProductsWebsite/images/AUX/03_available_at_amazon_logo_stacked_RGB_SQUID._TTW_.png"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="h6 mb--5">GoPro Hero11 Black</span>
                <span><br>#2</span>
            </td>
            <td>
                <span class="h5 mb--5">$119,02</span>
                <span><br>See details</span>
            </td>
            <td class="align-middle">
                <div class="rbt-button-group">
                    <ul class="brand-list brand-style-2">
                        <li>
                            <a href="#">
                                <img src="https://m.media-amazon.com/images/G/01/AdProductsWebsite/images/AUX/03_available_at_amazon_logo_stacked_RGB_SQUID._TTW_.png"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

    </tbody>

</table>