<!-- Start Header Area -->
<header id="header" class="rbt-header rbt-header-1">
    <div class="rbt-sticky-placeholder"></div>
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <div class="container-fluid">
            <div class="mainbar-row rbt-navigation-center align-items-center">
                <div class="header-left rbt-header-content">
                    <div class="header-info">
                        <div class="logo">
                            <!-- Logo Here  -->
                        </div>
                    </div>
                </div>
                <div class="rbt-main-navigation d-none d-xl-block">
                    <nav class="mainmenu-nav">
                        <!-- Start Navigation Here  -->
                        <!-- TODO: Make align to the left -->
                        <ul class="mainmenu">
                            <li><a href="">#Home</a></li>
                            <li><a href="">#Blog</a></li>
                            <li><a href="">#Reviews</a></li>
                            <li><a href="">#Newsletter</a></li>
                        </ul>
                        <!-- End Navigation Here  -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->