<nav class="mainmenu-nav">
    <!-- Start Navigation Here  -->
    <!-- TODO: Make align to the left -->
    <ul class="mainmenu">
        <li><a href="/">#Home</a></li>
        <li><a href="/">#Blog</a></li>
        <li><a href="/about">#About</a></li>
        <!-- <li><a href="">#Newsletter</a></li> -->
    </ul>
    <!-- End Navigation Here  -->
</nav>