---
export interface Props {
    image: string;
    title: string;
    href: string;
    published_date: string;
}
const { image, published_date, title, href } = Astro.props;
---
<li>
    <div class="thumbnail">
        <a href="event-details.html">
            <img src={image} alt="Event Images">
        </a>
    </div>
    <div class="content">
        <h6 class="title"><a href={href}>{title}</a></h6>
        <ul class="rbt-meta">
            <li><i class="feather-clock"></i>{published_date}</li>
        </ul>
    </div>
</li>