<!-- Start Accordion  -->
<div class="rbt-accordion-style rbt-accordion-01  accordion">
    <div class="accordion" id="accordionExamplea1">
        <div class="accordion-item card">
            <h2 class="accordion-header card-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Table Of Contents
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExamplea1">
                <div class="accordion-body card-body">
                    <li><a href="">Apple Design Award Winners: Apps</a></li>
                    <li><a href="">Every year, app and game education: Apps</a></li>
                    <li><a href="">Every year, app and game education: Games</a></li>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Badge  -->