<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style is:inline>
        @import "/css/vendor/bootstrap.min.css";
        @import "/css/vendor/slick.css";
        @import "/css/vendor/slick-theme.css";
        @import "/css/plugins/sal.css";
        @import "/css/plugins/feather.css";
        @import "/css/plugins/fontawesome.min.css";
        @import "/css/plugins/euclid-circulara.css";
        @import "/css/plugins/swiper.css";
        @import "/css/plugins/magnify.css";
        @import "/css/plugins/odometer.css";
        @import "/css/plugins/animation.css";
        @import "/css/plugins/bootstrap-select.min.css";
        @import "/css/plugins/jquery-ui.css";
        @import "/css/plugins/magnigy-popup.min.css";
        @import "/css/style.css";
    </style>
</head>
<slot name="header"/>
<body class="rbt-header-sticky">
    <div class="rbt-page-banner-wrapper">
        <!-- End Banner BG Image  -->
        <div class="rbt-banner-content">
            <!-- Start Banner Content Top  -->
            <div class="rbt-banner-content-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class=" title-wrapper">
                                <h1 class="title mb--0">#Blog</h1>
                            </div>

                            <p class="description">Your Guide to the Latest Gadgets and Software</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Banner Content Top  -->
        </div>
    </div>
    <div class="rbt-blog-area rbt-section-overlayping-top rbt-section-gapBottom">
        <div class="container">

            <!-- Start Card Area -->
            <div class="sction-title">
                <h2 class="rbt-title-style-3">Headline : <a href="http://">Bing finally launched the Search Engine AI</a></h2>
            </div>
            <div class="row g-5">
                <!-- Start Single Card  -->
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-card variation-02 height-330 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="blog-details.html">
                                <img src="images/blog/blog-card-01.jpg" alt="Card image"> </a>
                        </div>
                        <div class="rbt-card-body">
                            <h3 class="rbt-card-title"><a href="blog-details.html">React</a></h3>
                            <p class="rbt-card-text">It is a long established fact that a reader.</p>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="blog-details.html">Learn More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->

                <div class="col-lg-6 col-md-12 col-sm-12 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                    <!-- Start Single Card  -->
                    <div class="rbt-card card-list variation-02 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="blog-details.html">
                                <img src="images/blog/blog-card-02.jpg" alt="Card image"> </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="blog-details.html">Why Is Education So Famous?</a></h5>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="blog-details.html">Read Article<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Card  -->

                    <!-- Start Single Card  -->
                    <div class="rbt-card card-list variation-02 rbt-hover mt--30">
                        <div class="rbt-card-img">
                            <a href="blog-details.html">
                                <img src="images/blog/blog-card-03.jpg" alt="Card image"> </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="blog-details.html">Difficult Things About Education.</a></h5>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="blog-details.html">Read Article<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Card  -->

                    <!-- Start Single Card  -->
                    <div class="rbt-card card-list variation-02 rbt-hover mt--30">
                        <div class="rbt-card-img">
                            <a href="blog-details.html">
                                <img src="images/blog/blog-card-04.jpg" alt="Card image"> </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="blog-details.html">Education Is So Famous, But Why?</a></h5>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="blog-details.html">Read Article<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Card  -->
                </div>
            </div>
    </div>
    <div class="rbt-blog-area my-5 p-2">
            <div class="container">
                <div class="row row--30 gy-5">
                    <div class="col-lg-12">
                        <div class="sction-title">
                            <h2 class="rbt-title-style-3"></h2>
                        </div>
                    </div>
                    <div class="col-lg-8">
    
                        <!-- Start Card Area -->
                        <div class="row g-5">
    
                            <!-- Start Single Card  -->
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="rbt-blog-grid rbt-card variation-02 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="blog-details.html">
                                            <img src="/images/blog/blog-grid-05.jpg" alt="Card image"> </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <h5 class="rbt-card-title"><a href="blog-details.html">The Latest Trend In
                                                Education.</a></h5>
    
                                        <ul class="blog-meta">
                                            <li><i class="feather-user"></i> admin</li>
                                            <li><i class="feather-clock"></i> August 3, 2022</li>
                                            <li><i class="feather-watch"></i> 1 min read</li>
                                        </ul>
                                        <p class="rbt-card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised.</p>
                                        <div class="rbt-card-bottom">
                                            <a class="transparent-button" href="blog-details.html">Learn
                                                More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->
    
                            <!-- Start Single Card  -->
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="rbt-blog-grid rbt-card variation-02 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="blog-details.html">
                                            <img src="/images/blog/blog-grid-03.jpg" alt="Card image"> </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <h5 class="rbt-card-title"><a href="blog-details.html">The Modern Rules Of
                                                Education.</a></h5>
                                        <ul class="blog-meta">
                                            <li><i class="feather-user"></i> admin</li>
                                            <li><i class="feather-clock"></i> August 3, 2022</li>
                                            <li><i class="feather-watch"></i> 1 min read</li>
                                        </ul>
                                        <p class="rbt-card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised.</p>
                                        <div class="rbt-card-bottom">
                                            <a class="transparent-button" href="blog-details.html">Learn
                                                More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->
    
                            <!-- Start Single Card  -->
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="rbt-blog-grid rbt-card variation-02 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="blog-details.html">
                                            <img src="/images/blog/blog-grid-06.jpg" alt="Card image"> </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <h5 class="rbt-card-title"><a href="blog-details.html">Why Is Education So
                                                Famous?</a></h5>
                                        <ul class="blog-meta">
                                            <li><i class="feather-user"></i> admin</li>
                                            <li><i class="feather-clock"></i> August 3, 2022</li>
                                            <li><i class="feather-watch"></i> 1 min read</li>
                                        </ul>
                                        <p class="rbt-card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised.</p>
                                        <div class="rbt-card-bottom">
                                            <a class="transparent-button" href="blog-details.html">Learn
                                                More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->
    
                            <!-- Start Single Card  -->
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="rbt-blog-grid rbt-card variation-02 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="blog-details.html">
                                            <img src="/images/blog/blog-grid-04.jpg" alt="Card image"> </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <h5 class="rbt-card-title"><a href="blog-details.html">Why Is Education So
                                                Famous?</a></h5>
                                        <ul class="blog-meta">
                                            <li><i class="feather-user"></i> admin</li>
                                            <li><i class="feather-clock"></i> August 3, 2022</li>
                                            <li><i class="feather-watch"></i> 1 min read</li>
                                        </ul>
                                        <p class="rbt-card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised.</p>
                                        <div class="rbt-card-bottom">
                                            <a class="transparent-button" href="blog-details.html">Learn
                                                More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->
    
                        </div>
                        <!-- End Card Area -->
    
                        <div class="row">
                            <div class="col-lg-12 mt--60">
                                <nav>
                                    <ul class="rbt-pagination">
                                        <li><a href="#" aria-label="Previous"><i class="feather-chevron-left"></i></a></li>
                                        <li><a href="#">1</a></li>
                                        <li class="active"><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#" aria-label="Next"><i class="feather-chevron-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="col-lg-4">
                        <aside class="rbt-sidebar-widget-wrapper">
    
                            <!-- Start Widget Area  -->
                            <div class="rbt-single-widget rbt-widget-search">
                                <div class="inner">
                                    <form action="#" class="rbt-search-style-1">
                                        <input type="text" placeholder="Search Courses">
                                        <button class="search-btn"><i class="feather-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- End Widget Area  -->
    
                            <!-- Start Widget Area  -->
                            <div class="rbt-single-widget rbt-widget-recent">
                                <div class="inner">
                                    <h4 class="rbt-widget-title">Recent Post</h4>
                                    <ul class="rbt-sidebar-list-wrapper recent-post-list">
                                        <li>
                                            <div class="thumbnail">
                                                <a href="event-details.html">
                                                    <img src="/images/event/grid-type-04.jpg" alt="Event Images">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h6 class="title"><a href="event-details.html">Elegant Light Box Paper Cut.</a></h6>
                                                <ul class="rbt-meta">
                                                    <li><i class="feather-clock"></i>26 Mar, 2025</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumbnail">
                                                <a href="event-details.html">
                                                    <img src="/images/event/grid-type-01.jpg" alt="Event Images">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h6 class="title"><a href="event-details.html">Most Effective Ways Education.</a></h6>
                                                <ul class="rbt-meta">
                                                    <li><i class="feather-clock"></i>26 Mar, 2025</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumbnail">
                                                <a href="event-details.html">
                                                    <img src="/images/event/grid-type-02.jpg" alt="Event Images">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h6 class="title"><a href="event-details.html">Elegant Light Box Paper Cut.</a></h6>
                                                <ul class="rbt-meta">
                                                    <li><i class="feather-clock"></i>26 Jan, 2025</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumbnail">
                                                <a href="event-details.html">
                                                    <img src="/images/event/grid-type-03.jpg" alt="Event Images">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h6 class="title"><a href="event-details.html">Top 7 Common About Education.</a></h6>
                                                <ul class="rbt-meta">
                                                    <li><i class="feather-clock"></i>26 May, 2024</li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Widget Area  -->
    
                            <!-- Start Widget Area  -->
                            <div class="rbt-single-widget rbt-widget-recent">
                                <div class="inner">
                                    <h4 class="rbt-widget-title">Popular Post</h4>
                                    <ul class="rbt-sidebar-list-wrapper recent-post-list">
                                        <li>
                                            <div class="thumbnail">
                                                <a href="event-details.html">
                                                    <img src="/images/event/grid-type-01.jpg" alt="Event Images">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h6 class="title"><a href="event-details.html">Elegant Light Box Paper Cut.</a></h6>
                                                <ul class="rbt-meta">
                                                    <li><i class="feather-clock"></i>26 Mar, 2025</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumbnail">
                                                <a href="event-details.html">
                                                    <img src="/images/event/grid-type-06.jpg" alt="Event Images">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h6 class="title"><a href="event-details.html">Most Effective Ways Education.</a></h6>
                                                <ul class="rbt-meta">
                                                    <li><i class="feather-clock"></i>26 Mar, 2025</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumbnail">
                                                <a href="event-details.html">
                                                    <img src="/images/event/grid-type-03.jpg" alt="Event Images">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h6 class="title"><a href="event-details.html">Elegant Light Box Paper Cut.</a></h6>
                                                <ul class="rbt-meta">
                                                    <li><i class="feather-clock"></i>26 Jan, 2025</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumbnail">
                                                <a href="event-details.html">
                                                    <img src="/images/event/grid-type-05.jpg" alt="Event Images">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h6 class="title"><a href="event-details.html">Top 7 Common About Education.</a></h6>
                                                <ul class="rbt-meta">
                                                    <li><i class="feather-clock"></i>26 May, 2024</li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Widget Area  -->
    
                            <!-- Start Widget Area  -->
                            <div class="rbt-single-widget rbt-widget-tag">
                                <div class="inner">
                                    <h4 class="rbt-widget-title">Tags</h4>
                                    <div class="rbt-sidebar-list-wrapper rbt-tag-list">
                                        <a href="#">Histudy</a>
                                        <a href="#">Training</a>
                                        <a href="#">Courses</a>
                                        <a href="#">Learn</a>
                                        <a href="#">English</a>
                                        <a href="#">Online</a>
                                        <a href="#">Kids</a>
                                        <a href="#">Economic</a>
                                        <a href="#">Math</a>
                                        <a href="#">Marketing</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Widget Area  -->
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script is:inline src="/js/vendor/modernizr.min.js"></script>
    <script is:inline src="/js/vendor/jquery.js"></script>
    <script is:inline src="/js/vendor/bootstrap.min.js"></script>
    <script is:inline src="/js/vendor/paralax.min.js"></script>
    <script is:inline src="/js/vendor/sal.js"></script>
    <script is:inline src="/js/vendor/swiper.js"></script>
    <script is:inline src="/js/vendor/magnify.min.js"></script>
    <script is:inline src="/js/vendor/jquery-appear.js"></script>
    <script is:inline src="/js/vendor/odometer.js"></script>
    <script is:inline src="/js/vendor/backtotop.js"></script>
    <script is:inline src="/js/vendor/isotop.js"></script>
    <script is:inline src="/js/vendor/imageloaded.js"></script>
    <script is:inline src="/js/vendor/countdown.js"></script>
    <script is:inline src="/js/vendor/wow.js"></script>
    <script is:inline src="/js/vendor/waypoint.min.js"></script>
    <script is:inline src="/js/vendor/easypie.js"></script>
    <script is:inline src="/js/vendor/text-type.js"></script>
    <script is:inline src="/js/vendor/jquery-one-page-nav.js"></script>
    <script is:inline src="/js/vendor/bootstrap-select.min.js"></script>
    <script is:inline src="/js/vendor/jquery-ui.js"></script>
    <script is:inline src="/js/vendor/magnify-popup.min.js"></script>
    <script is:inline src="/js/main.js"></script>
</body>
</html>